Repository Kordrad/sipmle-joke-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Updates
  assets/logo.png
  default-libs_web_shared_feature-joke-add-dialog_src_index_ts-libs_web_shared_ui_joke-card_src-6e497e.js
  default-libs_web_shared_feature-joke-add-dialog_src_index_ts-libs_web_shared_ui_joke-card_src-6e497e.js.map
  favicon.ico
  index.html
  libs_web_jokes_feature-joke-page_src_index_ts.js
  libs_web_jokes_feature-joke-page_src_index_ts.js.map
  libs_web_my-jokes_feature-my-jokes-page_src_index_ts.js
  libs_web_my-jokes_feature-my-jokes-page_src_index_ts.js.map
  libs_web_shell_src_index_ts.js
  libs_web_shell_src_index_ts.js.map
  main.js
  main.js.map
  polyfills.js
  polyfills.js.map
  runtime.js
  runtime.js.map
  styles.css
  styles.css.map
  vendor.js
  vendor.js.map
Due: prettier --write, eslint --fix

Updates
  index.html
Due: prettier --write

Updates
  libs_web_shell_src_index_ts.js
  libs_web_shell_src_index_ts.js.map
Due: prettier --write, eslint --fix

ci(build, deploy): add github pages to deploy demo app
  libs/web/shell/src/lib/shell/shell.component.html
  package-lock.json
  package.json
Due: prettier --write

feat: bump to v1.0.0
  package.json
Due: none

fix(mock-local-storage): don't overwrite existing data
  libs/web/shared/data-access-jokes/src/lib/_helpers/fake-jokes-interceptor.service.ts
Due: prettier --write, eslint --fix

feat: bump to v1.0.1
  package.json
Due: none

Updates
  default-libs_web_shared_feature-joke-add-dialog_src_index_ts-libs_web_shared_ui_joke-card_src-6e497e.js
  default-libs_web_shared_feature-joke-add-dialog_src_index_ts-libs_web_shared_ui_joke-card_src-6e497e.js.map
  index.html
  libs_web_jokes_feature-joke-page_src_index_ts.js
  libs_web_jokes_feature-joke-page_src_index_ts.js.map
  libs_web_my-jokes_feature-my-jokes-page_src_index_ts.js
  libs_web_my-jokes_feature-my-jokes-page_src_index_ts.js.map
Due: prettier --write, eslint --fix

fix(local-storage): fix get categories
  libs/web/shared/data-access-jokes/src/lib/_helpers/fake-jokes-interceptor.service.ts
Due: prettier --write, eslint --fix

Updates
  default-libs_web_shared_feature-joke-add-dialog_src_index_ts-libs_web_shared_ui_joke-card_src-6e497e.js
  default-libs_web_shared_feature-joke-add-dialog_src_index_ts-libs_web_shared_ui_joke-card_src-6e497e.js.map
Due: prettier --write, eslint --fix

fix(feature-add-joke-dialog): fix save joke
  libs/web/shared/feature-joke-add-dialog/src/lib/feature-joke-add-dialog/feature-joke-add-dialog.component.ts
Due: prettier --write, eslint --fix

feat: bump to v1.0.2
  package.json
Due: none

Updates
  default-libs_web_shared_feature-joke-add-dialog_src_index_ts-libs_web_shared_ui_joke-card_src-6e497e.js.map
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,css,scss,md,html}
  eslint --fix: any of: *.{js,ts}
